@import "../../common/resources.scss";

.card-wrapper {
  background-color: $eerie-black;
  cursor: pointer;
  margin: 2rem;
  img {
    height: 15rem;
  }
}

.yellow-font {
  color: $orange-yellow;
}

.title {
  text-align: center;
  padding: 0.7rem 0;
}

@media (max-width: $tablet-screen) {
  .card-wrapper {
    margin: 4rem 0;
    img {
      height: auto;
      width: 100%;
    }
  }

  .title {
    padding: 1rem 0;
  }
}

@media (max-width: $mobile-screen) {
  .card-wrapper {
    margin: 2rem 0;
  }

  .title {
    padding: 0.7rem 0;
  }
}
