@import "../../common/resources.scss";

nav {
  background: $eerie-black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.left-nav-wrapper {
  justify-self: start;
  cursor: default;

  img {
    height: 4rem;
  }

  span {
    margin-left: 1rem;
  }
}

.right-nav-wrapper {
  justify-self: end;
  padding: 0 2rem;
  cursor: pointer;
}

.right-nav-wrapper:hover {
  background: $carolina-blue;
  transition: $transition-time;
}

@media (max-width: $mobile-screen) {
  nav {
    font-size: 1rem;
  }

  .left-nav-wrapper img {
    height: 3rem;
  }

  .right-nav-wrapper {
    padding: 0 1rem;
  }
} ;
