//variables that are used across different scss files
$tablet-screen: 768px;
$mobile-screen: 576px;

//color scheme
$rich-black: hsla(0, 0%, 7%, 1);
$eerie-black: hsla(0, 0%, 13%, 1);
$frostbite: hsla(319, 65%, 55%, 1);
$carolina-blue: hsla(201, 45%, 54%, 1);
$orange-yellow: hsla(45, 85%, 66%, 1);

$site-horizontal-padding: 3vw;

$border-radius: 0.5rem;
$border-radius-responsive: 1vw;

$transition-time: 0.2s;

$line-spacing: 3vw;
$line-spacing-responsive: 2vw;
