@import "./resources.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: none;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2.5vw;
}

//remove number spinners

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.regular-font-size {
  font-size: 2vw;
}

.border-radius {
  border-radius: $border-radius;
}

.border-width {
  border-width: 0.2rem;
}

//this enables 2 buttons of equal width to appear in opposite edges of an element
.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: $tablet-screen) {
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5vw;
  }
  .regular-font-size {
    font-size: 4vw;
  }
  .border-radius {
    border-radius: $border-radius-responsive;
  }
  .border-width {
    border-width: 0.15rem;
  }
}
